{% extends 'layout.html' %}


{% import 'html_macros.jinja' as macros %}

{% block content %}

<div id="banner" class="page-header">
	<div class="row">
		<div class="col-lg-6">
			<h1>{{ page_header.title }}<small>&nbsp;{{ page_header.strapline }}</small></h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-8">
		<div class="error"></div>
		<div class="row list-group">
		
		{% for location in locations %}
			<div class="col-xs-12 list-group-item">
				<h4> 
					<a href="{{ url_for('location_details', locationid=location._id) }}">{{ location.name }}</a>
					<!-- <a href="/location/{{ location._id }}">{{ location.name }}</a> -->
					<small>&nbsp;{{ macros.outputRating(location.rating) }}</small>
					<span class="badge pull-right badge-default">{{ location.distance }}</span>
				</h4>
				<p class="address">{{ location.address }}</p>
				<p>
					{% for facility in location.facilities %}
					<span class="label label-warning">{{ facility }}</span>&nbsp;
					{% endfor %}

				</p>
			</div>
		{% endfor %}

		</div>
	</div>

	<div class="col-xs-12 col-sm-4">
		<p class="lead">{{ sidebar }}</p>
	</div>
</div>



 {% endblock %}