<navigation></navigation>

<!-- Background applied on column -->
<div class="container margin-top locations-list">
	
	<div class="row my-page-header">
		<h4 class="text-muted">{{vm.sidebar.content}}</h4>
	</div>


	<label for="filter">Filter results</label>
	<input id="filter" type="text", name="filter", ng-model="textFilter">


	<!-- Background applied on child div -->
	<div class="row">
		
		<!-- locaiton filters: -->
		<div class="col-md-4 m-2 filters">

			<!-- checkbox for each filter -->
			<div class="form-check" ng-repeat="filter in vm.facilityFiltersData">
				<input class="form-check-input border-dark-subtle" type="checkbox" value="false" ng-model="filter.model" id="filter.id" ng-change="vm.filterChange(filter.model, filter.value)">
				<label class="form-check-label text-muted" for="filter.id">{{filter.value}}</label>
			</div>

		</div>

		<!-- locations: -->
		<div class="col-md-7 m-2 locations">
			<!-- header for locations: -->
			<div class="m-2">
				<p class="text-muted fs-5">Found {{vm.total_locations}} locations for you to explore</p>
			</div>

			<!-- summary for each location: -->
			<div class="list-group">
				<div class="list-group-item m-1 location" ng-repeat="location in vm.data.locations | facilitiesFilter : vm.facilitiesFilters">
					<div location-data location="location"></div>
				</div>
			</div>


		</div>
	</div>
</div>

